@import '../../../styles/variables';

.main-auth {
  background: #fffff0 url(../../../assets/car-banner.png) bottom center no-repeat;
  background-size: 100% 75%;
  min-height: 100vh;

  .col-auth {
    min-height: 100vh;
    display: flex;
    align-items: center;

    .ant-layout-content {
      align-items: center;
      background-color: rgba(#fff, .9);
      border-radius: 10px;
      box-shadow: -1px 32px 22px -20px rgba(213,188,43,.9);
      display: flex;
      min-height: 300px;
      padding: 32px;

      .car-figure {
        text-align: center;
        img {
          margin: 0 auto 20px auto;
          width: 200px;
        }
      }

      .wrapper {
        width: 100% !important;
      }

      .input-wrapper {
        margin-bottom: 14px;
      }
    }
  }
}