@import '../../../../styles/variables';

.create-form {
  display: flex;
  min-height: 100px;

  .wapprer {
    align-items: center;
    background-color: rgba(#fff, .9);
    border-radius: 10px;
    box-shadow: -1px 32px 22px -20px rgba(213,188,43,.2);
    display: flex;
    margin: 25px 0 45px 0;
    padding: 32px;

    .button-create span.text {
      visibility: hidden;

      @media (min-width: @breakpoint-sm) {
        visibility: visible;
      }
    }
  }
}