/** GENERIC CLASSES **/
.has-text-left { text-align: left !important; }
.has-text-center { text-align: center; }
.has-text-right { text-align: right; }

.text-bold {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold !important;
}

.title { color: @primary-color !important; }

.hide-xs {
  @media (max-width: @breakpoint-sm) {
    display: none !important;
  }
}
