@import './variables';
@import './generic';
@import './notification';
@import './home';

body {
  background-color: @bg-color !important;
  font-family: 'Montserrat', sans-serif !important;
  margin: 0 !important;
  overflow-x: hidden;
}

.ant-layout { background: none !important; }

.site-layout-header {
  margin-bottom: 20px;
  padding: 0 !important;
}

.logo {
  margin: 10px 10px 0 -50px;
  width: 90px;

  @media (min-width: @breakpoint-sm) {
    margin: 10px 14px 0 0;
    width: 120px;
  }
}

.main-title {
  font-size: .9rem !important;
  @media (min-width: @breakpoint-sm) {
    font-size: 1.2rem !important;
  }
}

.main-content {
  .wrapper {
    padding: 24px;
  }
}

.main-home {
  .ant-table-wrapper {
    margin-bottom: 30px;
  }
}

footer {
  background-color: @primary-color !important;
  color: #fff !important;
  font-size: x-small !important;
  text-transform: uppercase;
  width: 100%;
  text-align: center;

  &.ant-layout-footer {
    padding: 17px 0;
  }

  a {
    color: @warning-color;

    &:hover {
      color: darken(@warning-color, 5%);
    }
  }
}
