
/** NOTIFICATION **/
.notification--type-success {
  background-color: @success-color !important;
}
.notification--type-info {
  background-color: @link-color !important;
}
.notification--type-warning {
  background-color: @warning-color !important;
}
.notification--type-error {
  background-color: @error-color !important;
}

.notification--type-success , .notification--type-info,
.notification--type-warning, .notification--type-error {
  .anticon { color: #fff !important; }

  .ant-notification-notice-message {
    color: #fff !important;
  }
}