@primary-color: #05202A;
@secondary-color: #673DC7;
@primary-selected-color: #157E62;
@third-color: #894033;
@fourth-color: #1e313a;

@link-color: @primary-color;
@success-color: #52c41a;
@warning-color: #FF9F16;
@error-color: #f5222d;
@font-size-base: 14px;
@heading-color: #fff;
@text-color: rgba(0; 0; 0; 0.65);
@text-color-secondary: rgba(0; 0; 0; 0.45);
@disabled-color: rgba(0; 0; 0; 0.25);
@border-radius-base: 4px;
@border-radius-small: 8px;
@border-radius-lg: 12px;
@border-colorbase: #d9d9d9;
@box-shadow-base: 0 2px 8px rgba(0; 0; 0; 0.15);

@bg-color: #f7f5ed;
@font-size-caption: .9em;

@breakpoint-sm: 576px;
@breakpoint-md: 768px;
@breakpoint-lg: 992px;
@breakpoint-xl: 1200px;